RoutingWithBikes/Connected Services/WebProxyService/JCDecauxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JCDecauxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WebProxyService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WebProxyService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WebProxyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebProxyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJCDecauxService_GetNearestStationStartCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestStationStartCoordinates" />
  </wsdl:message>
  <wsdl:message name="IJCDecauxService_GetNearestStationStartCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestStationStartCoordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="IJCDecauxService_GetNearestStationEndCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestStationEndCoordinates" />
  </wsdl:message>
  <wsdl:message name="IJCDecauxService_GetNearestStationEndCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestStationEndCoordinatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IJCDecauxService">
    <wsdl:operation name="GetNearestStationStartCoordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IJCDecauxService/GetNearestStationStartCoordinates" message="tns:IJCDecauxService_GetNearestStationStartCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJCDecauxService/GetNearestStationStartCoordinatesResponse" message="tns:IJCDecauxService_GetNearestStationStartCoordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNearestStationEndCoordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IJCDecauxService/GetNearestStationEndCoordinates" message="tns:IJCDecauxService_GetNearestStationEndCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJCDecauxService/GetNearestStationEndCoordinatesResponse" message="tns:IJCDecauxService_GetNearestStationEndCoordinates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapEndPnt" type="tns:IJCDecauxService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNearestStationStartCoordinates">
      <soap:operation soapAction="http://tempuri.org/IJCDecauxService/GetNearestStationStartCoordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNearestStationEndCoordinates">
      <soap:operation soapAction="http://tempuri.org/IJCDecauxService/GetNearestStationEndCoordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JCDecauxService">
    <wsdl:port name="SoapEndPnt" binding="tns:SoapEndPnt">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LetsGoBiking/WebProxyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>