RoutingWithBikes/Connected Services/WebProxyService/WebProxyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WebProxyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebProxyService" />
  <xs:element name="GetNearestStationStartCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebProxyService" minOccurs="0" name="position" nillable="true" type="q1:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationStartCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebProxyService" minOccurs="0" name="GetNearestStationStartCoordinatesResult" nillable="true" type="q2:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationEndCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebProxyService" minOccurs="0" name="position" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStationEndCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebProxyService" minOccurs="0" name="GetNearestStationEndCoordinatesResult" nillable="true" type="q4:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>