RoutingWithBikes/Connected Services/WebProxyService/WebProxyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebProxyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebProxyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>