HeavyClient/Connected Services/RoutingWithBikes/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" />
  <xs:element name="GetItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departureAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrivalAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoutingWithBikes" minOccurs="0" name="GetItineraryResult" nillable="true" type="q1:Itinerary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoutingWithBikes" minOccurs="0" name="GetStationsLogResult" nillable="true" type="q2:StationsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>